<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.citesoftware.test4"
    android:versionCode="14"
    android:versionName="1.2.1">

    <application
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher_final1"
        android:label="ADHDaily"
        android:roundIcon="@mipmap/ic_launcher_final1_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Test4">
        <activity
            android:name=".later.DespuesActivity"
            android:exported="true" />
        <activity android:name=".main.info_activity" />
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".notificaciones.reciver.AlarmReciver" />
    </application>

</manifest>